<!DOCTYPE html>

<head>
    <title>Dashboard</title>
    <!-- <link type="text/css" rel="stylesheet" href="style.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

        body {
            font-family: 'Poppins', sans-serif;
            background: linear-gradient(to top left, #ffcc99 34%, #ffffff 100%);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        h1 {
            color: black;
            text-align: center;
        }

        .header {
            width: 100%;
            height: 100%;
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
        }

        .form-value {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        table {
            width: 80%;
            margin: 40px auto;
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
            height: 100%;
            background-color: #2a2b38;
        }

        table.list {
            text-align: center;
            width: 100%;
        }

        th {
            color: white;
        }

        label {
            color: white;
        }

        td {
            color: white;
            border: 1px solid rgb(204, 200, 200);
            text-align: left;
            padding: 8px 15px;

        }

        tr:nth-child(even),
        table.list thread>tr {
            background-color:#6F7E8C;
        }

        input[type="text"],
        input[type="number"] {
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid rgb(165, 161, 161);
            border-radius: 10px;
        }

        input[type="submit"],
        input[type="reset"] {
            border-radius: 4px;
            height: 44px;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 0 20px;
            display: inline-flex;
            align-items: center;
            text-align: center;
            border: none;
            background-color: #ffcc99;
            color: black;
            box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
            margin: 15px 0 10px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background: #4b99d8;
        }

        input[type="reset"]:hover {
            background: #4b99d8;
        }

        button {
            border-radius: 4px;
            height: 44px;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 0 20px;
            display: inline-flex;
            align-items: center;
            text-align: center;
            border: none;
            background-color: #ffcc99;
            color: black;
            box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
            margin: 15px 0 10px;
            cursor: pointer;
        }

        button:hover {
            background: black;
            color: #ffcc99;
        }

        .analytics {
            display: flex;
            justify-content: center;
        }

        .analytics button {
                border-radius: 4px;
                height: 44px;
                font-size: 13px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 0 20px;
                display: inline-flex;
                align-items: center;
                text-align: center;
                border: none;
                background-color: black;
                color: #ffcc99;
                box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
                margin: 15px 0 10px;
                cursor: pointer;
                background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
            }
    </style>
</head>

<body>
    <h1 class="header">Aurbis Parking Dashboard</h1>
    <table>
        <tr>
            <td style="width:25%;">
                <form autocomplete="off" onsubmit="onFormSubmit()">
                    <div class="form-value">
                        <label for="productCode">Tenant</label>
                        <input type="text" name="productCode" id="productCode">
                    </div>
                    <div class="form-value">
                        <label for="product">Car Slots</label>
                        <input type="number" name="product" id="product">
                    </div>
                    <div class="form-value">
                        <label for="qty">Scooter Slots</label>
                        <input type="number" name="qty" id="qty">
                    </div>
                    <!-- <div>
                        <label for="perPrice">Price</label>
                        <input type="number" name="perPrice" id="perPrice">
                    </div> -->

                    <div class="form_action--button">
                        <input type="submit" value="Submit">
                        <input type="reset" value="Reset">
                    </div>
                </form>

            <td>
                <table class="list" id="storeList">
                    <thead>
                        <tr>
                            <th>Tenant</th>
                            <th>Car Slots</th>
                            <th>Scooter Slots</th>
                            <th>Total Slots</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </td>
            </td>
        </tr>
    </table>
    <div class="analytics">
        <button onClick="redirectToDashBoard()"> View Analytics</button>
    </div>
    <script>
        var selectedRow = null

        function onFormSubmit(e) {
            event.preventDefault();
            var formData = readFormData();
            if (selectedRow == null) {
                insertNewRecord(formData);
            }
            else {
                updateRecord(formData);
            }
            resetForm();
        }

        //Retrieve the data
        function readFormData() {
            var formData = {};
            formData["productCode"] = document.getElementById("productCode").value;
            formData["product"] = document.getElementById("product").value;
            formData["qty"] = document.getElementById("qty").value;
            // formData["perPrice"] = document.getElementById("perPrice").value;
            return formData;
        }

        function redirectToDashBoard() {
            window.location.href = 'http://ec2-13-232-29-50.ap-south-1.compute.amazonaws.com/public/dashboard/8459166c-c8fe-4cee-8791-5d18e1966ac0';
        }
        //Insert the data
        function insertNewRecord(data) {
            var table = document.getElementById("storeList").getElementsByTagName('tbody')[0];
            var newRow = table.insertRow(table.length);
            cell1 = newRow.insertCell(0);
            cell1.innerHTML = data.productCode;
            cell2 = newRow.insertCell(1);
            cell2.innerHTML = data.product;
            cell3 = newRow.insertCell(2);
            cell3.innerHTML = data.qty;
            cell4 = newRow.insertCell(3);
            cell4.innerHTML = parseInt(data.product) + parseInt(data.qty);
            cell4 = newRow.insertCell(4);
            cell4.innerHTML = `<button onClick="onEdit(this)">Edit</button> <button onClick="onDelete(this)">Delete</button>`;
        }

        //Edit the data
        function onEdit(td) {
            selectedRow = td.parentElement.parentElement;
            document.getElementById("productCode").value = selectedRow.cells[0].innerHTML;
            document.getElementById("product").value = selectedRow.cells[1].innerHTML;
            document.getElementById("qty").value = selectedRow.cells[2].innerHTML;
            // document.getElementById("perPrice").value = selectedRow.cells[3].innerHTML;
        }
        function updateRecord(formData) {
            selectedRow.cells[0].innerHTML = formData.productCode;
            selectedRow.cells[1].innerHTML = formData.product;
            selectedRow.cells[2].innerHTML = formData.qty;
            selectedRow.cells[3].innerHTML = parseInt(formData.product) + parseInt(formData.qty);
        }

        //Delete the data
        function onDelete(td) {
            if (confirm('Do you want to delete this record?')) {
                row = td.parentElement.parentElement;
                document.getElementById('storeList').deleteRow(row.rowIndex);
                resetForm();
            }
        }

        //Reset the data
        function resetForm() {
            document.getElementById("productCode").value = '';
            document.getElementById("product").value = '';
            document.getElementById("qty").value = '';
            // document.getElementById("perPrice").value = '';
            selectedRow = null;
        }

    </script>
</body>

</html>